/* Header */

@mixin spacebetween-center {
    justify-content: space-between;
    align-items: center;
}

@mixin column-center {
    flex-direction: column;
    align-items: center;

}

.header {
    display: $display-header;
    background-color: $color-celeste-header;
    color: #ffffff;
    @include spacebetween-center;
    padding: 5px 10%;
    min-height: 90px;

    .logo {
        display: flex;
        align-items: center;

        img {
            height: 115px;
            width: auto;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .navlinks {
        margin: 0;

        /* Ajusta el margen de los enlaces */

        li {
            display: inline-block;
            padding: 0 20px;
            list-style: none;

            &:hover {
                transform: scale(1.1);
            }
        }

        a {
            font-size: 20px;
            color: wheat;
            text-decoration: none;
        }
    }
}

/* Responsive header */

@media (max-width: 768px) {
    .header {
        .navlinks {
            margin-top: 10px;

            li {
                margin-right: 0;
                margin-bottom: 8px;
            }
        }

        .logo img {
            height: 200px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        padding: 5px 5%;
    }
}

@media (max-width: 992px) {
    .header {
        @include column-center;

        .logo {
            margin-bottom: 10px;
        }

        .navlinks {
            display: flex;
            @include column-center;
            text-align: center;
            margin-top: 10px;

            li {
                display: block;
                padding: 8px 0;
            }
        }

        .logo img {
            height: 200px;
        }
    }
}