/* main inicio */

@mixin flex-center-spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

main {
    align-items: $alinear-centro;
    padding: 20px;
    border: 20px;
    margin: auto;

    .titulo {
        @include flex-center-spacearound;
        font-size: 50px;
    }
}